---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import FlashCardQuiz from '@components/FlashCardQuiz_DigitalCitizenship.astro'
---

<DefaultLayout title="GOOD or BAD Content to Post?">
  <PageHeader
      title="GOOD or BAD Content to Post?"
      subtitle="Use these flash cards to practice safe digital citizenship. Read each scenario and decide if the post is okay to share online."
      bgType="bordered"
  />

<section class="my-12">
    <div class="container mb-12">
      <div class="mb-10 flex flex-col gap-6">
        <h2 class="mb-2">How It Works</h2>
        <p>
          Pick the best choice for each card. Think about privacy, kindness, and safety.
        </p>
      </div>
    </div>
    <FlashCardQuiz />
</section>
</DefaultLayout>
