---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import { Card, Tabs, TabsList, TabsTab, TabsPanel } from 'accessible-astro-components'
import ContentMedia from '@components/ContentMedia.astro'
import { Icon } from 'astro-icon/components'
import { Pagination } from 'accessible-astro-components'
import { Accordion, AccordionItem, Badge, Notification } from 'accessible-astro-components'
import Feature from '@components/Feature.astro'
import { Video } from 'accessible-astro-components'
---

<DefaultLayout title="Attacker Perspective">
  <PageHeader
      title="Attacker Perspective"
      subtitle="In the world where we spend most of our time, our students are surrounded by people they can trust - their closest ones - parents, family members, such as sisters or brothers, and friends of the same age. When they go to school or attend clubs, their circle of people expands to include classmates, teachers, and teaching assistants. When your students go to and from school, they see other people and get to know those around them, such as ice cream vendors, bus drivers, peers from parallel classes, or even older children. Thus, adversaries with bad intentions might use someone that your students know, pretend and give expert suggestions to gain trust and later to manipulate them. It is important for your student to understand, identify and ask for help."
      bgType="bordered"
  />

<section class="my-12">
    <div class="container mb-24 grid grid-cols-2 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
      <h2>Aims of the Module</h2>

<div class="grid grid-cols-1 lg:grid-cols-3">
<Notification class="m-1">
  <p>Understand the perspective of an attacker</p>
</Notification>
<Notification class="m-1">
  <p>Understand the perspective of an attacker</p>
</Notification>
<Notification class="m-1">
  <p>Understand the perspective of an attacker</p>
</Notification>
</div>
</div>


      <div class="flex flex-col items-center gap-8 md:items-start">
      <h2>Learning Outcomes</h2>
      
      <div class="grid grid-cols-1 lg:grid-cols-3">
<Notification class="m-1">
  <p>Understand the perspective of an attacker</p>
</Notification>
<Notification class="m-1">
  <p>Understand the perspective of an attacker</p>
</Notification>
<Notification class="m-1">
  <p>Understand the perspective of an attacker</p>
</Notification>
</div>
      </div>
      </div>

      <div class="container mb-12 grid grid-cols-1 items-center lg:grid-cols-1">
        <div>
  <h2 class="mb-12">Module Content</h2>
  </div>

  <div style="display: flex; align-items: start;">
        <Badge style="color: #FFF; background-color: #6D28D9; font-size: 2em; font-weight: 800; border-color: #5B21B6" class="mb-5 mr-5">#01</Badge>
        <div>
        <h3 class="mb-6">The Circle of Trustees</h3>

      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-2" style="align-items: center;">
        <p style="font-size: 1.3em;">
          <b>GOAL:</b> Help children gain knowledge of the concept of a trusted person and develop skills in identifying the circle of trusted persons.</p>

<Notification >
  <div style="display: inline-grid; width: 100%; justify-items: center;">
  <p class="text-xl">Download all the materials for this part of the module.</p>
  <a class="button has-icon mt-4" style="width: 100%; font-size: 1.3em; font-weight: 700" href="/learning-hub/introduction">
            <Icon name="lucide:download" style="color: #FFF" />
            Download
          </a>
  </div>
</Notification>
    
 </div>

 <div class="container mt-12 mb-6 py-3 flex items-center text-sm text-gray-800 before:flex-1 before:border-t before:border-gray-200 before:me-6 after:flex-1 after:border-t after:border-gray-200 after:ms-6 dark:text-white dark:before:border-neutral-600 dark:after:border-neutral-600"><b>What's Included? 👇</b></div>

        <h4 class="mb-6">Resources</h4>


<Notification role="status" class="my-2">
  <Badge style="color: #FFF; background-color: #6D28D9; font-weight: bold; border-color: #5B21B6; opacity: 0.5;">Image</Badge>
  <div class="grid grid-cols-1" style="display: flex; flex-direction: column;">
  <b>A schema to locate persona around the child</b> 
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</Notification>

<Notification role="status" class="my-2">
  <Badge style="color: #FFF; background-color: #6D28D9; font-weight: bold; border-color: #5B21B6; opacity: 0.5;">Image</Badge>
  <div class="grid grid-cols-1" style="display: flex; flex-direction: column;">
  <b>A schema to locate persona based on the trust level</b>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</Notification>


  <h4 class="mt-12 mb-6">Activity Plan</h4>

  <Notification role="status" class="my-2">
  <Badge style="color: #FFF; background-color: #6D28D9; font-weight: bold; border-color: #5B21B6; opacity: 0.5;">Activity #1</Badge>
  <div class="grid grid-cols-1" style="display: flex; flex-direction: column;">
  <b>Identification of the circle of trust</b> 
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</Notification>

  <Notification role="status" class="my-2">
  <Badge style="color: #FFF; background-color: #6D28D9; font-weight: bold; border-color: #5B21B6; opacity: 0.5;">Activity #2</Badge>
  <div class="grid grid-cols-1" style="display: flex; flex-direction: column;">
  <b>Distinguishing different trust levels</b> 
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</Notification>


<h4 class="mt-12 mb-6">Reading Material</h4>

  <Notification role="status" class="my-2">
  <Badge style="color: #FFF; background-color: #6D28D9; font-weight: bold; border-color: #5B21B6; opacity: 0.5;">Reading for Educators</Badge>
  <div class="grid grid-cols-1" style="display: flex; flex-direction: column;">
  <b>Identification of the circle of trust</b> 
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</Notification>

  <Notification role="status" class="my-2">
  <Badge style="color: #FFF; background-color: #6D28D9; font-weight: bold; border-color: #5B21B6; opacity: 0.5;">Reading for Children</Badge>
  <div class="grid grid-cols-1" style="display: flex; flex-direction: column;">
  <b>Distinguishing different trust levels</b> 
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</Notification>


<h4 class="mt-12 mb-6">Preparation Material</h4>

  <Notification role="status" class="my-2">
  <Badge style="color: #FFF; background-color: #6D28D9; font-weight: bold; border-color: #5B21B6; opacity: 0.5;">Material #1</Badge>
  <div class="grid grid-cols-1" style="display: flex; flex-direction: column;">
  <b>Identification of the circle of trust</b> 
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</Notification>

  <Notification role="status" class="my-2">
  <Badge style="color: #FFF; background-color: #6D28D9; font-weight: bold; border-color: #5B21B6; opacity: 0.5;">Material #2</Badge>
  <div class="grid grid-cols-1" style="display: flex; flex-direction: column;">
  <b>Distinguishing different trust levels</b> 
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</Notification>

        </div>
        </div>

<hr class="my-18" style="color:rgb(209, 209, 209)" />

<div style="display: flex; align-items: start;">
        <Badge style="color: #FFF; background-color: #6D28D9; font-size: 2em; font-weight: 800; border-color: #5B21B6" class="mb-5 mr-5">#02</Badge>
        <div>
        <h3 class="mb-6">What is and Adversary?</h3>

      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-2" style="align-items: center;">
        <p style="font-size: 1.3em;">
          <b>GOAL:</b> Help children gain knowledge of the concept of a trusted person and develop skills in identifying the circle of trusted persons.</p>

<Notification >
  <div style="display: inline-grid; width: 100%; justify-items: center;">
  <p class="text-xl">Download all the materials for this part of the module.</p>
  <a class="button has-icon mt-4" style="width: 100%; font-size: 1.3em; font-weight: 700" href="/learning-hub/introduction">
            <Icon name="lucide:download" style="color: #FFF" />
            Download
          </a>
  </div>
</Notification>
    
 </div>

 <div class="container mt-12 mb-6 py-3 flex items-center text-sm text-gray-800 before:flex-1 before:border-t before:border-gray-200 before:me-6 after:flex-1 after:border-t after:border-gray-200 after:ms-6 dark:text-white dark:before:border-neutral-600 dark:after:border-neutral-600"><b>What's Included? 👇</b></div>

        <h4 class="mb-6">Resources</h4>


<Notification role="status" class="my-2">
  <Badge style="color: #FFF; background-color: #6D28D9; font-weight: bold; border-color: #5B21B6; opacity: 0.5;">Image</Badge>
  <div class="grid grid-cols-1" style="display: flex; flex-direction: column;">
  <b>A schema to locate persona around the child</b> 
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</Notification>

<Notification role="status" class="my-2">
  <Badge style="color: #FFF; background-color: #6D28D9; font-weight: bold; border-color: #5B21B6; opacity: 0.5;">Image</Badge>
  <div class="grid grid-cols-1" style="display: flex; flex-direction: column;">
  <b>A schema to locate persona based on the trust level</b>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</Notification>


  <h4 class="mt-12 mb-6">Activity Plan</h4>

  <Notification role="status" class="my-2">
  <Badge style="color: #FFF; background-color: #6D28D9; font-weight: bold; border-color: #5B21B6; opacity: 0.5;">Activity #1</Badge>
  <div class="grid grid-cols-1" style="display: flex; flex-direction: column;">
  <b>Identification of the circle of trust</b> 
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</Notification>

  <Notification role="status" class="my-2">
  <Badge style="color: #FFF; background-color: #6D28D9; font-weight: bold; border-color: #5B21B6; opacity: 0.5;">Activity #2</Badge>
  <div class="grid grid-cols-1" style="display: flex; flex-direction: column;">
  <b>Distinguishing different trust levels</b> 
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</Notification>


<h4 class="mt-12 mb-6">Reading Material</h4>

  <Notification role="status" class="my-2">
  <Badge style="color: #FFF; background-color: #6D28D9; font-weight: bold; border-color: #5B21B6; opacity: 0.5;">Reading for Educators</Badge>
  <div class="grid grid-cols-1" style="display: flex; flex-direction: column;">
  <b>Identification of the circle of trust</b> 
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</Notification>

  <Notification role="status" class="my-2">
  <Badge style="color: #FFF; background-color: #6D28D9; font-weight: bold; border-color: #5B21B6; opacity: 0.5;">Reading for Children</Badge>
  <div class="grid grid-cols-1" style="display: flex; flex-direction: column;">
  <b>Distinguishing different trust levels</b> 
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</Notification>


<h4 class="mt-12 mb-6">Preparation Material</h4>

  <Notification role="status" class="my-2">
  <Badge style="color: #FFF; background-color: #6D28D9; font-weight: bold; border-color: #5B21B6; opacity: 0.5;">Material #1</Badge>
  <div class="grid grid-cols-1" style="display: flex; flex-direction: column;">
  <b>Identification of the circle of trust</b> 
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</Notification>

  <Notification role="status" class="my-2">
  <Badge style="color: #FFF; background-color: #6D28D9; font-weight: bold; border-color: #5B21B6; opacity: 0.5;">Material #2</Badge>
  <div class="grid grid-cols-1" style="display: flex; flex-direction: column;">
  <b>Distinguishing different trust levels</b> 
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</Notification>

        </div>
        </div>

        </div>

 <div class="container mb-6 py-3 flex items-center text-sm text-gray-800 before:flex-1 before:border-t before:border-gray-200 before:me-6 after:flex-1 after:border-t after:border-gray-200 after:ms-6 dark:text-white dark:before:border-neutral-600 dark:after:border-neutral-600"><b>Explore Other Topics 👇</b></div>

        <h2 class="container mt-12">Other Modules</h2>

  <Accordion class="container mt-6">
    <AccordionItem class="container mb-4" title="Digital Citizenship">
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-6" style="column-gap: 7rem; align-items: center;">
      <h4 class="mb-3" style="font-weight: 900;">Digital Citizenship</h4>
      <p class="text-gray-700 dark:text-gray-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a class="button has-icon" href="/learning-hub/digital-citizenship/introduction">
    <Icon name="lucide:book-marked" />
    Start Learning
    </a>
    </div>
    </div>
    </AccordionItem>

    <AccordionItem class="container mb-4" title="Authentication">
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-6" style="column-gap: 7rem; align-items: center;">
      <h4 class="mb-3" style="font-weight: 900;">Authentication</h4>
      <p class="text-gray-700 dark:text-gray-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a class="button has-icon" href="/learning-hub/authentication/introduction">
    <Icon name="lucide:book-marked" />
    Start Learning
    </a>
    </div>
    </div>
    </AccordionItem>

    <AccordionItem class="container mb-4" title="Data Privacy">
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-6" style="column-gap: 7rem; align-items: center;">
      <h4 class="mb-3" style="font-weight: 900;">Data Privacy</h4>
      <p class="text-gray-700 dark:text-gray-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a class="button has-icon" href="/learning-hub/data-privacy/introduction">
    <Icon name="lucide:book-marked" />
    Start Learning
    </a>
    </div>
    </div>
    </AccordionItem>

    <AccordionItem class="container mb-4" title="Social Engineering">
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-6" style="column-gap: 7rem; align-items: center;">
      <h4 class="mb-3" style="font-weight: 900;">Social Engineering</h4>
      <p class="text-gray-700 dark:text-gray-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a class="button has-icon" href="/learning-hub/social-engineering/introduction">
    <Icon name="lucide:book-marked" />
    Start Learning
    </a>
    </div>
    </div>
    </AccordionItem>

    <AccordionItem class="container mb-4" title="Malware">
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-6" style="column-gap: 7rem; align-items: center;">
      <h4 class="mb-3" style="font-weight: 900;">Malware</h4>
      <p class="text-gray-700 dark:text-gray-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a class="button has-icon" href="/learning-hub/malware/introduction">
    <Icon name="lucide:book-marked" />
    Start Learning
    </a>
    </div>
    </div>
    </AccordionItem>

    <AccordionItem class="container mb-4" title="Digital Abuse">
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-6" style="column-gap: 7rem; align-items: center;">
      <h4 class="mb-3" style="font-weight: 900;">Digital Abuse</h4>
      <p class="text-gray-700 dark:text-gray-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a class="button has-icon" href="/learning-hub/digital-abuse/introduction">
    <Icon name="lucide:book-marked" />
    Start Learning
    </a>
    </div>
    </div>
    </AccordionItem>
  </Accordion>
        </div>
        

</div>



</section>
</DefaultLayout>