---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import Hero from '@components/Hero.astro'
import Feature from '@components/Feature.astro'
import Counter from '@components/Counter.astro'
import ContentMedia from '@components/ContentMedia.astro'
import ExternalLink from '@components/ExternalLink.astro'
import { Accordion, AccordionItem, Avatar, AvatarGroup, Card, Badge} from 'accessible-astro-components'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-12">
    <div class="container">

<h2 class="mb-12">Explore the Features</h2>

<div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3 feature-card feature-content">
        <Feature icon="lucide:blocks" title="Interactive Learning Modules">
          Dive into our learning modules designed to teach you about digital citizenship, authentication, data privacy, social engineering, malware, and digital abuse.
        </Feature>
        <Feature icon="lucide:puzzle" title="Fun Safety Games">
          Play interactive games that help you learn how to protect your devices and accounts, understand the importance of strong passwords, and recognize safe online behaviors.
        </Feature>
        <Feature icon="lucide:library-big" title="Comprehensive Resources">
          Acces additional resources created for educators and parents, including lesson plans, activities, and tips to support children's online safety education.
        </Feature>
</div>

<h2 class="mt-24 mb-12">Learning Modules</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3 feature-card feature-content">

  <Card
  img="path/to/image.jpg"
  url="/blog/post"
  title="Digital Citizenship">
  <p>Being a good digital citizen means being kind and respectful to others online, just like you are on the playground, and always telling a grown-up if something makes you feel uncomfortable. It's about sharing good things and being safe.</p>
  </Card>

  <Card
  img="path/to/image.jpg"
  url="/blog/post"
  title="Authentication">
  <p>Authentication is like having a secret password or a special key. It helps make sure only you or people you trust can get in and keeps your things safe.</p>
  </Card>

  <Card
  img="path/to/image.jpg"
  url="/blog/post"
  title="Data Privacy">
  <p>Data privacy means keeping your personal information, like your full name, where you live, or your birthday, a secret from people you don't know online. It's important to only share these things with your family or trusted grown-ups.</p>
  </Card>

  <Card
  img="path/to/image.jpg"
  url="/blog/post"
  title="Social Engineering">
  <p>Social engineering is when someone online tries to trick you into telling them your secrets or clicking on something unsafe by pretending to be someone they're not, like a friend or a game character.</p>
  </Card>

  <Card
  img="path/to/image.jpg"
  url="/blog/post"
  title="Malware">
  <p>Malware is like a computer cold or germ that can make your computer or mobile sick. We can help keep devices healthy by not clicking on strange things.</p>
  </Card>

  <Card
  img="path/to/image.jpg"
  url="/blog/post"
  title="Digital Abuse">
  <p>Digital abuse is when someone is mean, scary, or makes you feel bad using, like sending unkind messages or sharing pictures without asking. If this happens, you should always tell a trusted grown-up right away so they can help.</p>
  </Card>
</div>
    </div>
  </section>
</DefaultLayout>