---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import Hero from '@components/Hero.astro'
import Feature from '@components/Feature.astro'
import Counter from '@components/Counter.astro'
import ContentMedia from '@components/ContentMedia.astro'
import ExternalLink from '@components/ExternalLink.astro'
import { Icon } from 'astro-icon/components'
import { Accordion, AccordionItem, Avatar, AvatarGroup, Card, Badge, Notification } from 'accessible-astro-components'
import CallToAction from '@components/CallToAction.astro'
import BreakoutImage from '@components/BreakoutImage.astro'
import BlockQuote from '@components/BlockQuote.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-12">
    <div class="container">

  <p class="mb-24 text-4xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <a href="http://localhost:4321/about/">About</a> consequat.</p>

<h2 class="mb-12">
  <Icon name="lucide:sparkles" />
  Explore the Features</h2>

<div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3 feature-card feature-content">
        <Feature icon="lucide:blocks" title="Interactive Learning Modules">
          Dive into our learning modules designed to teach you about digital citizenship, authentication, data privacy, social engineering, malware, and digital abuse.
        </Feature>
        <Feature icon="lucide:puzzle" title="Fun Safety Games">
          Play interactive games that help you learn how to protect your devices and accounts, understand the importance of strong passwords, and recognize safe online behaviors.
        </Feature>
        <Feature icon="lucide:library-big" title="Comprehensive Resources">
          Acces additional resources created for educators and parents, including lesson plans, activities, and tips to support children's online safety education.
        </Feature>
</div>

<div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-2 feature-card feature-content mt-28">
<h2 class="mt-24 mb-12">
  <Icon name="lucide:graduation-cap" />
  Learning Modules</h2>


  <Card
  img="/images/138715027_10428703.jpg"
  url="/learning-hub/digital-citizenship/"
  title="Digital Citizenship"
  style="border-color: #22C55E; border-width: 10px; border-style: solid;">
  <p>Being a good digital citizen means being kind and respectful to others online, just like you are on the playground, and always telling a grown-up if something makes you feel uncomfortable. It's about sharing good things and being safe.</p>
  </Card>

  <Card
  img="/images/8142746_3839931.jpg"
  url="/learning-hub/attacker-perspective/"
  title="Attacker Perspective"
  style="border-color: #6D28D9; border-width: 10px; border-style: solid;">
  <p>Learn how to think like someone who might try to be tricky or break the rules online. By learning their sneaky tricks, we can be one step ahead and become experts at keeping our games and secrets safe.</p>
  </Card>

  <Card
  img="/images/21689577_6498809.jpg"
  url="/learning-hub/authentication/"
  title="Authentication"
  style="border-color: #F59E0B; border-width: 10px; border-style: solid;">
  <p>Authentication is like having a secret password or a special key. It helps make sure only you or people you trust can get in and keeps your things safe.</p>
  </Card>

  <Card
  img="/images/119588617_10207836.jpg"
  url="/learning-hub/data-privacy/"
  title="Data Privacy"
  style="border-color: #14B8A6; border-width: 10px; border-style: solid;">
  <p>Data privacy means keeping your personal information, like your full name, where you live, or your birthday, a secret from people you don't know online. It's important to only share these things with your family or trusted grown-ups.</p>
  </Card>

  <Card
  img="/images/8135200_3831994.jpg"
  url="/learning-hub/social-engineering/"
  title="Social Engineering"
  style="border-color: #D946EF; border-width: 10px; border-style: solid;">
  <p>Social engineering is when someone online tries to trick you into telling them your secrets or clicking on something unsafe by pretending to be someone they're not, like a friend or a game character.</p>
  </Card>

  <Card
  img="/images/3226131_43076.jpg"
  url="/learning-hub/malware/"
  title="Malware"
  style="border-color: #84CC16; border-width: 10px; border-style: solid;">
  <p>Malware is like a computer cold or germ that can make your computer or mobile sick. We can help keep devices healthy by not clicking on strange things.</p>
  </Card>

  <Card
  img="/images/8967116_4056374.jpg"
  url="/learning-hub/digital-abuse/"
  title="Digital Abuse"
  style="border-color: #EF4444; border-width: 10px; border-style: solid;">
  <p>Digital abuse is when someone is mean, scary, or makes you feel bad using, like sending unkind messages or sharing pictures without asking. If this happens, you should always tell a trusted grown-up right away so they can help.</p>
  </Card>
</div>


<h2 class="mt-24 mb-12">
  <Icon name="lucide:land-plot" />
  Interactive Challenges</h2>

<div class="grid grid-cols-1 gap-8 md:grid-cols-1 lg:grid-cols-1 feature-card feature-content">
        <Feature icon="lucide:blocks" title="Challenge #1"> 
          <Badge style="color: #FFF; background-color: #22C55E; font-weight: bold; border-color: #16A34A" class="mb-3">Digital Citizenship</Badge>
          <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
          <p class="col-span-2 col-start-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <button class="button has-icon" onclick="location.href='/learning-hub/digital-citizenship/'">
            <Icon name="lucide:biceps-flexed" style="color: #FFF" />
            Take the Challenge
          </div>
        </Feature>
        <Feature icon="lucide:blocks" title="Challenge #2">
          <Badge style="color: #FFF; background-color: #22C55E; font-weight: bold; border-color: #16A34A" class="mb-3">Digital Citizenship</Badge>
          <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
          <p class="col-span-2 col-start-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <button class="button has-icon" onclick="location.href='/learning-hub/digital-citizenship/'">
            <Icon name="lucide:biceps-flexed" style="color: #FFF" />
            Take the Challenge
          </div>
        </Feature>
        <Feature icon="lucide:blocks" title="Challenge #3">
          <Badge style="color: #FFF; background-color: #22C55E; font-weight: bold; border-color: #16A34A" class="mb-3">Digital Citizenship</Badge>
          <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
          <p class="col-span-2 col-start-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <button class="button has-icon" onclick="location.href='/learning-hub/digital-citizenship/'">
            <Icon name="lucide:biceps-flexed" style="color: #FFF" />
            Take the Challenge
          </div>
        </Feature>
        <Feature icon="lucide:blocks" title="Challenge #4">
          <Badge style="color: #FFF; background-color: #22C55E; font-weight: bold; border-color: #16A34A" class="mb-3">Digital Citizenship</Badge>
          <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
          <p class="col-span-2 col-start-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <button class="button has-icon" onclick="location.href='/learning-hub/digital-citizenship/'">
            <Icon name="lucide:biceps-flexed" style="color: #FFF" />
            Take the Challenge
          </div>
        </Feature>
        <Feature icon="lucide:blocks" title="Challenge #5">
          <Badge style="color: #FFF; background-color: #22C55E; font-weight: bold; border-color: #16A34A" class="mb-3">Digital Citizenship</Badge>
          <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
          <p class="col-span-2 col-start-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <button class="button has-icon" onclick="location.href='/learning-hub/digital-citizenship/'">
            <Icon name="lucide:biceps-flexed" style="color: #FFF" />
            Take the Challenge
          </div>
        </Feature>
</div>


<h2 class="mt-24 mb-12">
  <Icon name="lucide:gamepad-2" />
  Cybersecurity Games</h2>

<div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3 feature-card feature-content">
        <Feature icon="lucide:blocks" title="Game #1">
          <Badge style="color: #FFF; background-color: #22C55E; font-weight: bold; border-color: #16A34A" class="mb-3">Digital Citizenship</Badge>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <button class="button has-icon mt-6" onclick="location.href='/learning-hub/digital-citizenship/'">
            <Icon name="lucide:joystick" style="color: #FFF" />
            Play the Game
            </button>
        </Feature>
        <Feature icon="lucide:puzzle" title="Game #2">
          <Badge style="color: #FFF; background-color: #6D28D9; font-weight: bold; border-color: #5B21B6" class="mb-3">Attacker Perspective</Badge>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <button class="button has-icon mt-6" onclick="location.href='/learning-hub/digital-citizenship/'">
            <Icon name="lucide:joystick" style="color: #FFF" />
            Play the Game
            </button>
        </Feature>
        <Feature icon="lucide:library-big" title="Game #3">
          <Badge style="color: #FFF; background-color: #F59E0B; font-weight: bold; border-color: #D97706" class="mb-3">Authentication</Badge>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <button class="button has-icon mt-6" onclick="location.href='/learning-hub/digital-citizenship/'">
            <Icon name="lucide:joystick" style="color: #FFF" />
            Play the Game
            </button>
        </Feature>
        <Feature icon="lucide:library-big" title="Game #4">
          <Badge style="color: #FFF; background-color: #14B8A6; font-weight: bold; border-color: #0D9488" class="mb-3">Data Privacy</Badge>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <button class="button has-icon mt-6" onclick="location.href='/learning-hub/digital-citizenship/'">
            <Icon name="lucide:joystick" style="color: #FFF" />
            Play the Game
            </button>
        </Feature>
        <Feature icon="lucide:library-big" title="Game #5">
          <Badge style="color: #FFF; background-color: #D946EF; font-weight: bold; border-color: #C026D3" class="mb-3">Social Engineering</Badge>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <button class="button has-icon mt-6" onclick="location.href='/learning-hub/digital-citizenship/'">
            <Icon name="lucide:joystick" style="color: #FFF" />
            Play the Game
            </button>
        </Feature>
        <Feature icon="lucide:library-big" title="Game #6">
          <Badge style="color: #FFF; background-color: #84CC16; font-weight: bold; border-color: #65A30D" class="mb-3">Malware</Badge>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <button class="button has-icon mt-6" onclick="location.href='/learning-hub/digital-citizenship/'">
            <Icon name="lucide:joystick" style="color: #FFF" />
            Play the Game
            </button>
        </Feature>
        <Feature icon="lucide:library-big" title="Game #7">
          <Badge style="color: #FFF; background-color: #EF4444; font-weight: bold; border-color: #DC2626" class="mb-3">Digital Abuse</Badge>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <button class="button has-icon mt-6" onclick="location.href='/learning-hub/digital-citizenship/'">
            <Icon name="lucide:joystick" style="color: #FFF" />
            Play the Game
            </button>
        </Feature>
</div>


    </div>
  </section>
</DefaultLayout>