---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import { Icon } from 'astro-icon/components'
import PageHeader from '@components/PageHeader.astro'
import Feature from '@components/Feature.astro'
import FeatureDC from '@components/FeatureDC.astro'
import FeatureAP from '@components/FeatureAP.astro'
import FeatureAT from '@components/FeatureAT.astro'
import FeatureDA from '@components/FeatureDA.astro'
import FeatureDP from '@components/FeatureDP.astro'
import FeatureMW from '@components/FeatureMW.astro'
import FeatureSE from '@components/FeatureSE.astro'
import {
  Accordion,
  AccordionItem,
  Avatar,
  AvatarGroup,
  Badge,
  Breadcrumbs,
  BreadcrumbsItem,
  Card,
  DarkMode,
  Media,
  Modal,
  Notification,
  Pagination,
  Tabs,
  TabsList,
  TabsTab,
  TabsPanel,
  Video,
} from 'accessible-astro-components'
---

<DefaultLayout title="For Educators">
  <PageHeader
      title="For Educators"
      subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      bgType="bordered"
  />

  <section class="my-12">
    <div class="container">
      
      <!-- Digital Citizenship Section -->
      <span style="display: flex; align-items: center;">
        <Badge style="color: #FFF; background-color: #22C55E; font-size: 2.5em; font-weight: 900; border-color: #16A34A" class="mb-5 mr-5">#01</Badge>
        <h2 class="mb-6">Digital Citizenship</h2>
      </span>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <FeatureDC icon="lucide:blocks" title="Lorem Ipsum">
          <Badge style="background-color: #f4f004; font-weight: bold; border-color: #d6d200; opacity: 0.5" class="mb-3">Infographic</Badge>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <a class="button has-icon mt-6" style="width: 100%" href="/learning-hub/introduction">
            <Icon name="lucide:download" style="color: #FFF" />
            Download
          </a>
        </Feature>
        <FeatureDC icon="lucide:blocks" title="Lorem Ipsum">
          <Badge style="background-color: #04f6be; font-weight: bold; border-color: #04cd9e; opacity: 0.5" class="mb-3">Presentation</Badge>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <a class="button has-icon mt-6" style="width: 100%" href="/learning-hub/introduction">
            <Icon name="lucide:download" style="color: #FFF" />
            Download
          </a>
        </Feature>
        <FeatureDC icon="lucide:blocks" title="Lorem Ipsum">
          <Badge style="background-color: #fd0065; font-weight: bold; border-color: #cd0454; color:aliceblue; opacity: 0.5" class="mb-3">Methodology</Badge>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <a class="button has-icon mt-6" style="width: 100%" href="/learning-hub/introduction">
            <Icon name="lucide:download" style="color: #FFF" />
            Download
          </a>
        </Feature>
      </div>
        
      <hr class="mt-24 mb-12" style="color:rgb(209, 209, 209)" />
    
      <!-- Attacker Perspective Section -->
      <span style="display: flex; align-items: center;">
        <Badge style="color: #FFF; background-color: #6D28D9; font-size: 2.5em; font-weight: 900; border-color: #5B21B6" class="mb-5 mr-5">#02</Badge>
        <h2 class="mb-6">Attacker Perspective</h2>
      </span>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <FeatureAP icon="lucide:blocks" title="Lorem Ipsum">
          <Badge style="background-color: #f4f004; font-weight: bold; border-color: #d6d200; opacity: 0.5" class="mb-3">Infographic</Badge>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <a class="button has-icon mt-6" style="width: 100%" href="/learning-hub/introduction">
            <Icon name="lucide:download" style="color: #FFF" />
            Download
          </a>
        </Feature>
        <FeatureAP icon="lucide:blocks" title="Lorem Ipsum">
          <Badge style="background-color: #04f6be; font-weight: bold; border-color: #04cd9e; opacity: 0.5" class="mb-3">Presentation</Badge>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <a class="button has-icon mt-6" style="width: 100%" href="/learning-hub/introduction">
            <Icon name="lucide:download" style="color: #FFF" />
            Download
          </a>
        </Feature>
        <FeatureAP icon="lucide:blocks" title="Lorem Ipsum">
          <Badge style="background-color: #fd0065; font-weight: bold; border-color: #cd0454; color:aliceblue; opacity: 0.5" class="mb-3">Methodology</Badge>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <a class="button has-icon mt-6" style="width: 100%" href="/learning-hub/introduction">
            <Icon name="lucide:download" style="color: #FFF" />
            Download
          </a>
        </Feature>
      </div>

      <hr class="mt-24 mb-12" style="color:rgb(209, 209, 209)" />
        

    </div>
  </section>
</DefaultLayout>