---
import Navigation from '../components/Navigation.astro'
import LanguageSwitcher from '../components/LanguageSwitcher.astro'
import { SkipLink } from 'accessible-astro-components'
import { localizePath } from 'src/utils/i18n'

/**
 * Header Component
 *
 * @description A component that displays the header of the website
 */
const locale = Astro.currentLocale
const homeHref = localizePath(locale, '/')
const aboutHref = localizePath(locale, '/about/')
const learningHubHref = localizePath(locale, '/learning-hub/introduction')
---

<header>
  <SkipLink />
  <Navigation>
    <li class="menu-item">
      <a href={homeHref} data-nav-match="root">Startseite</a>
    </li>
    <li class="menu-item">
      <a href={aboutHref} data-nav-match="exact">Über das Projekt</a>
    </li>
    <li class="menu-item highlight" style="font-weight: 900; letter-spacing: 1px">
      <a href={learningHubHref} data-nav-match="section" data-nav-section="learning-hub">
        Bildungszentrum&nbsp;und Ressourcen
      </a>
    </li>
    <LanguageSwitcher />
  </Navigation>
</header>

<style lang="scss" is:global>
  header {
    .type-icon {
      display: block;
      margin-inline: -7px;

      svg {
        inline-size: 30px;
        block-size: 30px;
      }
    }
  }
</style>
