---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import heroImg from '../assets/images/index/ff9232fe-0fb1-4103-927e-21075c6d877c.jpg'
import { Badge } from 'accessible-astro-components'

/**
 * Hero Component
 *
 * @description A component that displays a hero section with a title, description, and image
 */
interface Props {
  /**
   * The source URL for the image
   */
  src?: string
}

// const { src = '../assets/images/index/20945658.jpg' }: Props = Astro.props
---

<section class="hero mt-12 mb-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-6xl md:text-left lg:text-9xl" style="font-weight: 900; z-index: 3;">
          <slot><span style="color: #2563EB">WWW</span><br/>Wise Web Wanderers</slot>
        </h1>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <a class="button has-icon" href="/learning-hub/introduction">
            <Icon name="lucide:book-marked" />
            Start Learning
          </a>
        </div>
      </div>
      <div class="hero-image-wrapper" style="z-index: 2;">
      <Image class="hidden lg:block" src={heroImg} alt="" decoding="async" width={500} height={500} loading="eager" />
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  h1 {
    text-wrap: unset;
  }

  .hero-image-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
  }

  .text-gradient {
    background: linear-gradient(
      315deg,
      light-dark(var(--color-primary-300), var(--color-secondary-100)) 25%,
      light-dark(var(--color-secondary-300), var(--color-primary-200))
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
